html{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body{
    background-color: rgb(27, 27, 27);
    color: white;
    /* overflow: hidden; */
}

/* color: #2796ff; */


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2796ff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #178dfc;
  }
